In [9]:
import pandas as pd
import os

df = pd.read_csv(
    filepath_or_buffer="data_for_testing/variant2.csv",
    sep="\t",
    # parse_dates=['timestamp']
)
df

,userid,timestamp,action,value,testids
0,user_225,2021-11-25T16:23:20,category,0,96;34;15;47;85;94;72;41
1,user_380,2023-12-11T08:41:45,checkout,79695,40;55;97;36;60;95;36;36;47
2,user_116,2023-07-04T20:15:13,search,0,90;69
3,user_128,2022-04-07T14:47:42,checkout,41576,42
4,user_425,2021-04-30T07:41:33,mainpage,0,96;35;60;65
...,...,...,...,...,...
9995,user_13,2023-04-13T08:56:30,product,0,44;25;52;48;4
9996,user_79,2022-01-03T11:47:55,category,0,76;89;50;16;55;65;8;45
9997,user_417,2022-01-07T05:49:31,cart,55456,15;36
9998,user_396,2023-01-14T11:28:32,checkout,11711,12;11;55;50;49;45;44;62;27
9999,user_231,2021-07-05T15:21:22,cart,37102,27;65