In [1]:
%ls data_for_testing

 ��� � ���ன�⢥ E ����� ���� Samsung 980 pro
 ��਩�� ����� ⮬�: B60A-B3D7

 ����ন��� ����� e:\Projects\vkbot\data_for_testing

24.04.2024  15:00    <DIR>          .
26.04.2024  11:32    <DIR>          ..
24.04.2024  15:00           543�200 variant1.csv
24.04.2024  15:00           541�601 variant10.csv
24.04.2024  15:00           542�518 variant100.csv
24.04.2024  15:00           542�323 variant11.csv
24.04.2024  15:00           542�902 variant12.csv
24.04.2024  15:00           543�389 variant13.csv
24.04.2024  15:00           543�252 variant14.csv
24.04.2024  15:00           542�364 variant15.csv
24.04.2024  15:00           542�713 variant16.csv
24.04.2024  15:00           542�132 variant17.csv
24.04.2024  15:00           542�690 variant18.csv
24.04.2024  15:00           542�803 variant19.csv
24.04.2024  15:00           541�292 variant2.csv
24.04.2024  15:00           543�082 variant20.csv
24.04.2024  15:00           542�537 variant21.csv
24.04.2024  15:00           542�467 variant22.csv
24.04.2024  15:00           542�935 variant23.csv
24.04.2024  15:00           542�558 variant24.csv
24.04.2024  15:00           542�468 variant25.csv
24.04.2024  15:00           543�403 variant26.csv
24.04.2024  15:00           542�873 variant27.csv
24.04.2024  15:00           542�055 variant28.csv
24.04.2024  15:00           542�142 variant29.csv
24.04.2024  15:00           542�393 variant3.csv
24.04.2024  15:00           542�898 variant30.csv
24.04.2024  15:00           542�093 variant31.csv
24.04.2024  15:00           541�720 variant32.csv
24.04.2024  15:00           542�143 variant33.csv
24.04.2024  15:00           541�309 variant34.csv
24.04.2024  15:00           543�071 variant35.csv
24.04.2024  15:00           543�194 variant36.csv
24.04.2024  15:00           542�734 variant37.csv
24.04.2024  15:00           541�482 variant38.csv
24.04.2024  15:00           543�409 variant39.csv
24.04.2024  15:00           541�419 variant4.csv
24.04.2024  15:00           540�917 variant40.csv
24.04.2024  15:00           542�308 variant41.csv
24.04.2024  15:00           544�042 variant42.csv
24.04.2024  15:00           541�981 variant43.csv
24.04.2024  15:00           541�919 variant44.csv
24.04.2024  15:00           543�227 variant45.csv
24.04.2024  15:00           543�045 variant46.csv
24.04.2024  15:00           542�966 variant47.csv
24.04.2024  15:00           543�993 variant48.csv
24.04.2024  15:00           542�592 variant49.csv
24.04.2024  15:00           541�736 variant5.csv
24.04.2024  15:00           541�757 variant50.csv
24.04.2024  15:00           541�697 variant51.csv
24.04.2024  15:00           543�021 variant52.csv
24.04.2024  15:00           542�346 variant53.csv
24.04.2024  15:00           543�544 variant54.csv
24.04.2024  15:00           542�906 variant55.csv
24.04.2024  15:00           540�675 variant56.csv
24.04.2024  15:00           542�199 variant57.csv
24.04.2024  15:00           542�586 variant58.csv
24.04.2024  15:00           541�771 variant59.csv
24.04.2024  15:00           541�754 variant6.csv
24.04.2024  15:00           542�129 variant60.csv
24.04.2024  15:00           541�236 variant61.csv
24.04.2024  15:00           542�265 variant62.csv
24.04.2024  15:00           540�600 variant63.csv
24.04.2024  15:00           543�536 variant64.csv
24.04.2024  15:00           542�652 variant65.csv
24.04.2024  15:00           540�029 variant66.csv
24.04.2024  15:00           542�209 variant67.csv
24.04.2024  15:00           542�557 variant68.csv
24.04.2024  15:00           540�497 variant69.csv
24.04.2024  15:00           541�267 variant7.csv
24.04.2024  15:00           543�422 variant70.csv
24.04.2024  15:00           542�545 variant71.csv
24.04.2024  15:00           543�027 variant72.csv
24.04.2024  15:00           542�753 variant73.csv
24.04.2024  15:00           541�361 variant74.csv
24.04.2024  15:00           544�198 variant75.csv
24.04.2024  15:00           541�304 variant76.csv
24.04.2024  15:00           542�455 variant77.csv
24.04.2024  15:00           543�338 variant78.csv
24.04.2024  15:00           543�500 variant79.csv
24.04.2024  15:00           543�850 variant8.csv
24.04.2024  15:00           541�196 variant80.csv
24.04.2024  15:00           543�659 variant81.csv
24.04.2024  15:00           543�359 variant82.csv
24.04.2024  15:00           543�368 variant83.csv
24.04.2024  15:00           544�142 variant84.csv
24.04.2024  15:00           541�558 variant85.csv
24.04.2024  15:00           542�684 variant86.csv
24.04.2024  15:00           541�378 variant87.csv
24.04.2024  15:00           542�282 variant88.csv
24.04.2024  15:00           542�228 variant89.csv
24.04.2024  15:00           542�320 variant9.csv
24.04.2024  15:00           541�003 variant90.csv
24.04.2024  15:00           541�698 variant91.csv
24.04.2024  15:00           541�975 variant92.csv
24.04.2024  15:00           541�748 variant93.csv
24.04.2024  15:00           543�206 variant94.csv
24.04.2024  15:00           542�768 variant95.csv
24.04.2024  15:00           540�926 variant96.csv
24.04.2024  15:00           541�600 variant97.csv
24.04.2024  15:00           541�691 variant98.csv
24.04.2024  15:00           541�850 variant99.csv
             100 䠩���     54�237�915 ����
               2 �����  546�837�184�512 ���� ᢮�����

In [23]:
import pandas as pd
import matplotlib as plt
import os

current_dir = os.getcwd()
dir_name = 'data_for_testing'
filename = 'variant1.csv'
absolute_path = os.path.join(current_dir, dir_name, filename)
df = pd.read_csv(absolute_path, sep='\t')
df.head()

ModuleNotFoundError: No module named 'pandas'

In [6]:
df

NameError: name 'df' is not defined

In [7]:
sort_res = df.sort_values('timestamp')

NameError: name 'df' is not defined

In [8]:
n = 100
m = 100
table_slice = (df.sort_values('timestamp')).iloc[n:-m]
table_slice

NameError: name 'df' is not defined

In [9]:
first_line = (df.sort_values('timestamp')).iloc[0].timestamp
first_line

NameError: name 'df' is not defined

In [10]:
other_var =  (df.sort_values('timestamp')).head(1).timestamp
other_var

NameError: name 'df' is not defined

In [11]:
last_line = (df.sort_values('timestamp')).iloc[-1].timestamp
last_line

NameError: name 'df' is not defined

In [12]:
first_line = (df.sort_values('timestamp')).iloc[0].timestamp
last_line = (df.sort_values('timestamp')).iloc[-1].timestamp
first_month =  ((df.sort_values('timestamp')).iloc[0].timestamp).split('-')
last_month = ((df.sort_values('timestamp')).iloc[-1].timestamp).split('-')
first_month[1], last_month[1]
# last_month

NameError: name 'df' is not defined

In [13]:
first_line = (df.sort_values('timestamp')).iloc[0].timestamp
first_month =  ((df.sort_values('timestamp')).iloc[0].timestamp).split('-')
i = 0
while ((df.sort_values('timestamp')).iloc[i].timestamp).split('-')[1] == first_month[1]:
    i+=1
i

NameError: name 'df' is not defined

In [14]:
last_line = (df.sort_values('timestamp')).iloc[-1].timestamp
last_month = ((df.sort_values('timestamp')).iloc[-1].timestamp).split('-')
i = -1
while ((df.sort_values('timestamp')).iloc[i].timestamp).split('-')[1] == last_month[1]:
    i-=1
i

NameError: name 'df' is not defined

In [15]:
table_slice = (df.sort_values('timestamp')).iloc[276:-268]
table_slice

NameError: name 'df' is not defined

In [16]:


table_slice_userid = (df.sort_values('timestamp')).iloc[276:-268].userid
table_slice_userid

NameError: name 'df' is not defined

In [17]:
table_slice_value = (df.sort_values('timestamp')).iloc[276:-268].value
table_slice_value

NameError: name 'df' is not defined

In [18]:
table_slice_time = (df.sort_values('timestamp')).iloc[276:-268].timestamp
table_slice_time

NameError: name 'df' is not defined

In [19]:
import pandas as pd
import datetime as dt
import matplotlib as plt
import os

current_dir = os.getcwd()
dir_name = 'data_for_testing'
filename = 'variant1.csv'
absolute_path = os.path.join(current_dir, dir_name, filename)

df = pd.read_csv(filepath_or_buffer=absolute_path, sep="\t", parse_dates=['timestamp'])


# Новые колонки
df['date'] = pd.to_datetime(df['timestamp'].dt.strftime("%Y-%m-%d")) 
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month
df['day'] = df['timestamp'].dt.day

df = df.sort_values('timestamp')
start_date_year = df
start_date_month = df
# start_date = df.timestamp.min()
# end_date = df.timestamp.max()
# start_date, end_date

ModuleNotFoundError: No module named 'pandas'